#define HC_12_RX_PIN 20
#define HC_12_TX_PIN 21
#define HC_12_SET_PIN 10
#define HC_12_BAUD_RATE 9600

#define DHT_22_PIN 9

#define MQ_135_A_PIN 5
#define MQ_135_D_PIN 8

#define BMP_085_ADDR 0x77

#define MMHG_TO_PA 133.322
